@media (min-width: 200px) and (max-width: 1000px) {
 #myInput {
   margin-top: 250px !important;
  }

#ui-datepicker-div {
left:25% !important;
top:300px !important;
}
}


body {
    background: url('../img/bg.png') repeat ;
}

.navi {
    margin-bottom: 30px;
    margin-top: 40px;
}

.mycontrol {
    font-size: xx-large;
}
#table .fa-spin.fa-3x {
     margin-left: 95%;
}
.fa-spin.fa-3x {
    margin-left: 85%;
    margin-top:10%;
}
#myInput {
  background-image: url('../img/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.but-prei {
    margin-top: 24px;
}

#users, #editUsers {
    width: 70%;
    height: 25px;
    border-radius: 5px;
    margin-right: 60px;
}
.input {
    border-radius: 5px;
    padding-left: 5px;
    outline-color: brown;
}
#save {
    margin-left: 40%;
}
input[name='add'] {
    float:right;
}
.recomend {
    background-color: silver;
}
#table .debt {
    background-color:lightcoral;
}
#price {
    margin-top:20px;
}
#addDate {
    margin-top: 15px;
    margin-left: 40%;
}
#priority tr {
    background-color: tomato;
}
#comment {
    height:100px;
    width: 100%;
    margin-top: 25px;
    padding:10px;
}
#delete p {
    text-align:center
}
#del {
    margin-right:20px;
}
.green {
    background-color:aquamarine !important;
}
#galary {
    text-decoration:none;
    padding:5px 15px;
    border-radius:3px;
    cursor:pointer;
    background-color: #52AC52;
    color:white;
}
#order {
    margin-top: 10px;
}
#approximate, #approximateWU {
    margin: 10px 0;
}
.modal-dialog {
    margin-top: 100px !important;
}
#addedPrice {
    display:none;
}












